[user]
	email = hasan@sam-media.com
	name = Hasan Gharehhasan Loo

[alias]
	co = checkout
	com = checkout master
	cm = commit
	cmm = commit -m
	st = status
	br = branch
	bra = branch -a
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[merge]
	tool = /home/administrator/diff.p
